<div class="container mt-2">
	<div class="row">
		<table class="table table-responsive table-bordered" width="100%">
			<thead>
				<tr class="text-sm-center">
					<th colspan="100%" class="year">
						<i class="fa fa-caret-square-o-left p-1 mr-2 text-primary" aria-hidden="true" (click)="prevYear()"></i>
						<span class="m-2 pl-2 pr-2 border border-secondary bg-warning currentYear">{{+currentYear}}</span>
						<i class="fa fa-caret-square-o-right p-1 ml-2 text-primary" aria-hidden="true" (click)="nextYear()"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="month text-center p-1">M\D</th>
					<td class="headerDays p-1 text-center" *ngFor="let date of datesArr">{{date | number:'2.0'}}</td>
				</tr>
				<tr *ngFor="let month of allMonths">
					<th class="month p-1">{{month.name}}</th>
					<td class="days p-1 text-center" *ngFor="let day of month.days" (click)="toggleList($event)" [ngStyle]="dayColor(day)">
						<ng-container *ngIf="!(day.includes('Sun') || day.includes('Sat'))">
							<ul class="list-group p-1" *ngIf="showList">
							  <li class="list-group-item p-1 text-success" (click)="selectValue(day, 'P')">P</li>
                <li class="list-group-item p-1 text-danger" (click)="selectValue(day, 'A')">A</li>
						    <li class="list-group-item p-1 text-warning" (click)="selectValue(day, 'GH')">G</li>
							</ul>
							{{day.slice(15,16)}}
						</ng-container>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row mt-4 justify-content-center">
		<div class="colorCode d-flex col-md-6 justify-content-around">
			<div class="weekEnds mr-4">
				<div class="square holi-we mt-1"></div>
				<span>Weekends</span>
			</div>
			<div class="govtHday">
				<div class="square holi-govt mt-1"></div>
				<span>Govt. Holliday</span>
			</div>
		</div>
	</div>
	<div class="row mt-4 justify-content-center">
		<div class="colorCode d-flex col-md-6 justify-content-around text-primary">
			<div>
				<span>P: </span>
				<span>Present</span>
			</div>
			<div>
				<span class="mt-1">A: </span>
				<span>Absent</span>
			</div>
			<div>
				<span>GH: </span>
				<span>Govt. Holliday</span>
			</div>
		</div>
  </div>
</div>